@model System.Collections.Generic.IEnumerable<Smartflow.Integration.Models.WorkflowXml>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Smartflow 工作流程列表</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/common.js"></script>
    <script type="text/javascript">
        function delWf(id) {
            if (window.confirm('删除？')) {
                $.ajax({
                    url: '@Url.Action("Delete", "Default")',
                    type: 'post',
                    data: { WFID: id },
                    success: function () {
                        document.location.href = '@Url.Action("List", "Default")';
                    }
                });
            }
        }
    </script>
</head>
<body>
    <br />
    <div class="layui-container">
        <div class="layui-btn-group">
            <input type="button" value="增加" class="layui-btn" onclick="openWin('../../Smartflow.Web.Design/WorkflowDesign/Design', 960, 560)" />
        </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th style="width:50px;">序号</th>
                    <th>名称</th>
                    <th style="width:120px;text-align:center;">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1;
                }
                @foreach (Smartflow.Integration.Models.WorkflowXml wf in Model)
                {
                    <tr>
                        <td style="width:50px;text-align:center;">@(counter++)</td>
                        <td>@wf.NAME</td>
                        <td style="width:120px;text-align:center;">
                            <a href="javascript:openWin('../../Smartflow.Web.Design/WorkflowDesign/Design?id=@wf.WFID',960,560)">修改</a>
                            <a href="javascript:delWf('@wf.WFID')">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script src="~/Content/layui/layui.js"></script>
</body>
</html>
