@model Smartflow.BussinessService.Models.Apply
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>业务流程</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/common.js"></script>

    <script type="text/javascript">
        function sumbitApply(url, state) {
            $("#STATE").val(state);
            $("#applyForm").attr("action", url);
        }

        $(function () {
            var v = $("#STATE").val();
            if (v == "0" || !v) {
                $("#btnSubmit,#btnSave").show();
                $("#btnAudit").hide();
            } else {
                $("#btnAudit").show();
                $("#btnSubmit,#btnSave").hide();
            }
        });

        function auditApply() {
            var instanceID = document.getElementById("INSTANCEID").value;
            openWin('@Url.Action("WorkflowCheck", "UserControl")' + "?instanceID=" + instanceID, 600, 300);
        }
    </script>
</head>
<body>
    <br />
    <div class="layui-container">
        @using (Html.BeginForm("Save", "Apply", FormMethod.Post, new { id = "applyForm", @class = "layui-form" }))
        {
            <div class="layui-form-item">
                <label class="layui-form-label">申请人</label>
                <div class="layui-input-block">
                    @Html.TextBoxFor(m => m.NAME, new { style = "width:98%;", @class = "layui-input" })
                    @Html.HiddenFor(m => m.AID)
                    @Html.HiddenFor(m => m.STATE)
                    @Html.HiddenFor(m => m.INSTANCEID)
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作流程</label>
                <div class="layui-input-block">
                    @Html.DropDownListFor(m => m.WFID, (ViewData["Wfile"] as IEnumerable<SelectListItem>))
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    @Html.TextBoxFor(m => m.DESCRIPTION, new { @class = "layui-input" })
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="button" id="btnAudit" value="@ViewBag.ButtonName" class="layui-btn" onclick="auditApply()" />
                    <input type="submit" id="btnSubmit" value="提交" class="layui-btn" onclick="return sumbitApply('@Url.Action("SubmitApply", "Apply")', 1)" />
                    <input type="submit" id="btnSave" value="保存" class="layui-btn layui-btn-primary" onclick="return sumbitapply('@Url.Action("Save", "Apply" )', 0)" />
                </div>
            </div>
        }
        @if (Model != null)
        {
            Html.RenderAction("Record", "UserControl", new { instanceID = Model.INSTANCEID });
        }
    </div>
    <script src="~/Content/layui/layui.js"></script>

    <script type="text/javascript">

        layui.use('form', function () {

        });


    </script>
</body>
</html>
