@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>业务流程</title>

    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script type="text/javascript">
        function openWin(url) {
            var iTop = (window.screen.availHeight - 30 - 560) / 2;
            var iLeft = (window.screen.availWidth - 10 - 960) / 2;
            window.open(url, 'newwindow', "height=560, width=960, top=" + iTop + " left=" + iLeft + ", toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no");
        }

        function delApply(id) {
            if (window.confirm('删除？')) {
                $.ajax({
                    url: '@Url.Action("Delete", "Default")',
                    type: 'post',
                    data: { WFID: id },
                    success: function () {
                        document.location.href = '@Url.Action("List","Default")';
                    }
                });
            }
        }
    </script>
</head>
<body>
    <br />
    <div class="layui-container">
        <div class="layui-btn-group">
            <input type="button" value="增加" class="layui-btn" onclick="document.location.href='@Url.Action("Apply")'" />
        </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th style="width:50px;">序号</th>
                    <th>名称</th>
                    <th>状态</th>
                    <th>备注</th>
                    <th style="width:120px;">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1;
                }

                @if (Model != null)
                {

                    foreach (Smartflow.BussinessService.Models.Apply apply in Model)
                    {
                        <tr>
                            <td style="width:50px;text-align:center;">@(counter++)</td>
                            <td>@apply.NAME</td>
                            <td>@apply.STATE</td>
                            <td>@apply.DESCRIPTION</td>
                            <td style="width:120px;text-align:center;">
                                <a href="javascript:document.location.href='@Url.Action("Apply", "Apply", new { id = apply.AID })'>修改</a>
                                <a href="javascript:delApply('@apply.AID')">删除</a>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
    <script src="~/Content/layui/layui.js"></script>
</body>
</html>