@model Smartflow.BussinessService.Models.Apply
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>业务流程</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <style type="text/css">
        .layui-btn {
            border-radius: initial;
        }
    </style>
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/common.js"></script>
    <script type="text/javascript">
        function sumbitApply(url, state) {
            $("#STATUS").val(state);
            $("#applyForm").attr("action", url);
        }

        $(function () {
            loadBtn();
        });

        function loadBtn() {
            var status = $("#STATUS").val();
            if (status == "0" || !status) {
                $("#btnSubmit,#btnSave").show();
                $("#btnAudit,#btnUnAudit").hide();
            }
            else if (status == '8') {
                //审核流程走完
                $("#btnAudit").hide();
                $("#btnSubmit,#btnSave,#btnUnAudit").hide();
            }
            else {
                $("#btnAudit").show();
                $("#btnSubmit,#btnSave").hide();
            }
            if ('@ViewBag.UndoCheck' == '1') {
                $("#btnUnAudit").show();
            } else {
                $("#btnUnAudit").hide();
            }
        }


        function auditApply() {
            var instanceID = document.getElementById("INSTANCEID").value;
            openWin('@Url.Action("WorkflowCheck", "UserControl")' + "?instanceID=" + instanceID, 600, 300);
        }

        function undoSubmit() {
            var instanceID = document.getElementById("INSTANCEID").value;
            $.ajax({
                url: '@Url.Action("UndoSubmit", "UserControl")' + "?instanceID=" + instanceID,
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    window.location.href = '@Url.Action("Apply", "Apply", new { id = (Model == null ? 0 : Model.AUTOID) })';
                }
            });
        }


        function refresh() {
            window.location.href = '@Url.Action("Apply", "Apply", new { id = (Model == null ? 0 : Model.AUTOID) })'
        }
    </script>
</head>
<body>
    <div class="layui-container" style="margin-top:10px;">
        <form id="applyForm" action="@Url.Action("Save","Apply")" class="layui-form" lay-skin="sm">
            <div class="layui-form-item">
                <label class="layui-form-label">申请人</label>
                <div class="layui-input-block">
                    @Html.TextBoxFor(m => m.NAME, new { @class = "layui-input" })
                    @Html.HiddenFor(m => m.AUTOID)
                    @Html.HiddenFor(m => m.STATUS)
                    @Html.HiddenFor(m => m.INSTANCEID)
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">申请密级</label>
                <div class="layui-input-block">
                    @Html.DropDownListFor(m => m.SECRETGRADE, (ViewData["SC"] as IEnumerable<SelectListItem>))
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">审批流程</label>
                <div class="layui-input-block">
                    @Html.DropDownListFor(m => m.WFID, (ViewData["WFiles"] as IEnumerable<SelectListItem>))
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">说明</label>
                <div class="layui-input-block">
                    @Html.TextAreaFor(m => m.DESCRIPTION, new { @class = "layui-textarea" })
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="button" id="btnUnAudit" value="@("撤销" + ViewBag.PreviousButtonName)" class="layui-btn" onclick="undoSubmit()" />
                    <input type="button" id="btnAudit" value="@ViewBag.ButtonName" class="layui-btn" onclick="auditApply()" />
                    <input type="submit" id="btnSubmit" value="提交" class="layui-btn " onclick="return sumbitApply('@Url.Action("SubmitApply", "Apply")', 1)" />
                    <input type="submit" id="btnSave" value="保存" class="layui-btn layui-btn-normal" onclick="return sumbitapply('@Url.Action("Save", "Apply" )', 0)" />
                    <input type="button" id="btnBack" value="返回" class="layui-btn layui-btn-warm" onclick="window.location.href = '@Url.Action("ApplyList", "Apply")'" />
                </div>
            </div>
        </form>
        @if (Model != null)
        {
            Html.RenderAction("Record", "UserControl", new { instanceID = Model.INSTANCEID });
        }
    </div>
    <script src="~/Content/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use('form', function () {
            var form = layui.form;
        });
    </script>
</body>
</html>
