@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Smartflow 工作流程设计器</title>
    <link href="~/Content/smartflow.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/svg.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/smartflow.js"></script>
    <script type="text/javascript">
        function saveflow() {
            var exportObj = SMF.exportToJSON();
            if (exportObj) {
                var flowName = window.prompt("请输入流程名称");
                if (flowName && flowName.length > 0) {
                    $.ajax({
                        url: '@Url.Action("Save", "WorkflowDesign")',
                        data: { NAME: flowName, XML: exportObj.XML, IMAGE: exportObj.IMAGE, WFID: '@ViewBag.WfID' },
                        type: 'POST',
                        success: function () {
                            alert("操作成功");
                        }
                    });
                } else {
                    alert("请输入流程名称");
                }
            }
        }
        $(function () {
            window.SMF.init('drawing', {
                dblClick: openNodeWin
            });
            var WFID = '@ViewBag.WfID';
            if (WFID) {
                $.ajax({
                    url: '@Url.Action("GetWorkflowXml", "WorkflowDesign")',
                    type: 'post',
                    dataType: 'json',
                    data: { WFID: WFID },
                    success: function (serverData) {
                        SMF.revert(serverData.IMAGE);
                    }
                })
            } else {
                SMF.create('start');
                SMF.create('end');
            }
        });
    </script>
    <script type="text/javascript">
        function openNodeWin(nx) {
            layer.open({
                /*area: ['800px', '400px'],*/
                type: 2,
                /*title: '流程操作节点信息设置',*/
                title: false,
                area: ['630px', '360px'],
                shade: 0.8,
                closeBtn: 0,
                shadeClose: false,
                content: ['@Url.Action("WorkflowDesignSettings", "WorkflowDesign")', 'no'],
                btn: ['确定', '关闭'],
                success: function (dom, index) {
                    var frameContent = getDOMFrame(dom),
                        url = '@Url.Action("GetRole", "WorkflowDesign")';

                    frameContent.SMF.setSettings(nx.name, nx.group, url);
                },
                yes: function (index, dom) {
                    var frameContent = getDOMFrame(dom),
                        settings = frameContent.SMF.getSettings();
                    if (settings.name) {
                        nx.name = settings.name;
                        nx.brush.text(nx.name);
                        nx.group = settings.group || [];
                    }
                    layer.close(index);
                },
                btn2: function () {
                    layer.closeAll();
                }
            });
        }
        function getDOMFrame(dom) {
            var frameId = dom.find("iframe").attr('id');
            return (document.getElementById(frameId).contentWindow);
        }
    </script>
</head>
<body>
    <div class="tools">
        <ul class="tools-menu">
            <li>
                <a href="javascript:;" onclick="saveflow()">保存</a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.select()">选择</a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.connect()">连接</a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.create('node')">节点</a>
            </li>
            <li>
                <a href="javascript:;" onclick="SMF.create('decision')">决策</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="container-draw" id="drawing"></div>
    </div>
</body>
</html>
