@model System.Collections.Generic.IEnumerable<Smartflow.Elements.Transition>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FlowControl</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Content/jquery-1.6.4.min.js"></script>
    <style type="text/css">
        .flow-auditTable {
            margin: 0 auto;
            padding: 0;
            width: 98%;
        }

        .flow-head {
            width: 160px;
        }

        .flow-content {
        }
    </style>

    <script type="text/javascript">

        $(function () {

            $("#btnOk").click(function () {
                var transitions = $(".flow-content input[name='transition']:checked");
                if (transitions.length == 0) {
                    alert('请选择审批操作');
                } else {

                    var t = transitions[0];
                    var tid = $(t).attr("tid"),
                        to = $(t).attr("to");

                    var message = $("#txtDescription").val();

                    $.ajax({
                        url: '@Url.Action("Jump","UserCtl")',
                        type: 'post',
                        data: { instanceID: '@ViewBag.InstanceID', transitionID: tid, to: to,message:message },
                        success: function () {
                            window.close();
                        }
                    });
                }
            });
        });
    </script>

</head>
<body>
    <table class="flow-auditTable">
        <tr>
            <td class="flow-head">下一步审批操作：</td>
            <td class="flow-content">
                @foreach (var item in Model)
                {
                    <input id="rad@(item.ID)" tid="@item.ID" to="@item.TO" name="transition" type="radio" />
                    <label for="rad@(item.ID)">@item.NAME</label>
                }
            </td>
        </tr>
        <tr>
            <td class="flow-head">审批意见：</td>
            <td class="flow-content">
                <textarea rows="10" cols="25" style="width:95%;height:60px;" id="txtDescription"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="btnOk" value="确定" />
            </td>
        </tr>
    </table>
</body>
</html>
