@model System.Collections.Generic.IEnumerable<Smartflow.Elements.Transition>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>审批流程控件</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <style type="text/css">
        .cm {
            width: 80px;
        }

        textarea {
            resize: none !important;
        }
        .layui-btn {
            border-radius: initial;
        }

    </style>
    <script src="~/Content/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnOk").click(function () {
                var transition = $("#ddlOperate option:selected"),
                    transitionID = $(transition).val(),
                    to = transition.attr("to");
                var description = $.trim($("#txtDescription").val());
                if (description) {
                    $.ajax({
                        url: '@Url.Action("Jump", "UserControl")',
                        type: 'post',
                        data: { instanceID: '@ViewBag.InstanceID', transitionID: transitionID, to: to, message: description },
                        success: function () {
                            window.opener.window.refresh();
                            window.close();
                        }
                    });
                } else {
                    alert('请填写审批意见');
                }
            });
        });
    </script>
</head>
<body>
    <form class="layui-container layui-form">
        <table class="layui-table" lay-size="sm">
            <tr>
                <td class="layui-text cm">下一步操作</td>
                <td>
                    <select id="ddlOperate">
                        @foreach (var item in Model)
                        {
                            <option to="@item.DESTINATION" value="@item.NID">@item.NAME</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="layui-text cm">审批意见</td>
                <td>
                    <textarea class="layui-textarea" id="txtDescription"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input type="button" id="btnOk" value="确定" class="layui-btn" />
                    <input type="button" id="btnClose" value="关闭" onclick="window.close()" class="layui-btn layui-btn-normal" />
                </td>
            </tr>
        </table>
    </form>
    <script src="~/Content/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use('form', function () {
            var form = layui.form;
        });
    </script>
</body>
</html>
